*{
    margin: 0;
    padding: 0;
}
#banner{
    background:linear-gradient(#babab157,#d8e3b1),url(maroon5.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}
#boom{
    background: #fff;
    background-size: cover;
    background-position: center;
    height: 60vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 1%;
    right:46%;
}
#sideNav{
    font-family: 'Zen Dots', cursive;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #617270;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 170px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    text-align: center;
    position: fixed;
    left: 30px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 50px;
    margin-top: 15px;
}
.header{
    position: relative;
    text-align: center;
    margin: 50px 0;
}
.tour-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tour-row:last-child{
    border-bottom: none;
}
.item{
    display:inline-block;
    padding-right: .5em;
}
.date{
    width: 30%;
}
.arena{
    width: 24%;
}
.city{
    width: 32%;
}
.btn{
    max-width: 19%;
}
.pri{
    color: white;
    background-color: pink;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.pri:hover{
    background-color: rgb(240, 139, 156);
}